@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.board-container {
  background-color: #333;
  padding: 20px;

}
.board {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  border-radius: 10px;
}
.board h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
  text-align: center;
}

.board p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding-left: 20px;
}

ticket {
  border-bottom:#1aac83, 1px;
}